#announcer-table tr:nth-last-of-type(-n + 2), #announcer-table-elims tr:nth-last-of-type(-n + 2) {  /* TODO: fix this */
    background-color: rgb(81, 130, 255);
}

#announcer-table tr, #announcer-table-elims tr {
    background-color: rgb(234, 86, 86);
}

.team-card {
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
}

.team-card h3, .team-card h4, .team-card h5 {
    color: white;
    margin: 16px 0;
}

.team-card h3 {
    font-size: 3em;
}

.team-card h4 {
    font-size: 1.5em;
}

.team-card h5 {
    font-size: 1.1em;
    font-weight: normal;
}
